.num01, .num03, .num05{
    background-color: rgb(255, 182, 193);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#num02{
    color: blue;
    font-size: 36px;
}

.num03{
    font-size: 24px;
}

#num04{
    background-color: hsl(hsl(120, 73%, 75%));
    font-size: 24px;
    font-weight: bold;
}