h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box1, .box2, .box3, .box4{
    box-sizing: content-box;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 191, 180);
    border: 10px solid rgb(151, 7, 7);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
