.container{
    height: 300px;
    width: 500px;
    margin-left: 400px;
    margin-top: 80px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    justify-content: center; /*this will make space between items and items be of original size*/
    align-items: center;
    gap: 15px;
}

.item{
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
}