.container{
    margin-left: 110px;
    border: 4px solid rgb(123, 241, 123);
    flex-direction: row;
    height: 100px;
}

.container2{
    border: 4px solid rgb(103, 103, 194);
    flex-direction: column;
    width: 100px;
    margin-top: -110px;
    height: 500px;
}

.container, .container2{
    display: flex;
}

.container div {
    border: 4px solid cornflowerblue;
    background-color: rgb(122, 177, 179);
    flex: 1;
}

.container2 div {
    border: 4px solid aquamarine;
    background-color: rgb(154, 154, 224);    
    flex: 1;
    height: 80px;
}

